*{
    margin: 0 auto;
}
body{
    background-image: url("../img/ngoDashboard.jpg");
    background-size: cover;

 

}
.headline{
    position: relative;
    top: 400px;
}
.headline h2{
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
a.nav-item.nav-link{
    padding: 12px;
    border-radius: 4px;
    /* padding-right: 51px; */
    margin-right: 5px;
    font-weight: 600;

}
.stockmanagementtable table{
    position: relative;
    top: -350px;
}